.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.awardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%; 
  img {
    height: 150px;
    padding: 20px;
  }
}
